<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4UL0KB9i9u_jytTsCBfrP2d6jZQEpGx4</string>
	<key>GCM_SENDER_ID</key>
	<string>231818387263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rtxAlertApp</string>
	<key>PROJECT_ID</key>
	<string>rtx-alert-app-b343c</string>
	<key>STORAGE_BUCKET</key>
	<string>rtx-alert-app-b343c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231818387263:ios:34e73faa9a935b1a21fd8a</string>
</dict>
</plist>